* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg-primary: #212121;
    --bg-secondary: #000;
    --blue: #0d6efd
}

body {
    font-size: 14px;
    /* background-color: var(--bg-primary); */
}

::-webkit-scrollbar {
    width: 7px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--blue);
    cursor: pointer;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--bg-primary);
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

h6 {
    margin: 0;
}

.featureCard svg {
    font-size: 18px;
}

svg {
    color: var(--blue);
}

li {
    list-style: none;
}

a {
    width: 100%;
    display: inline-block;
    padding: 3px 8px;
    text-decoration: none;
    color: initial;
}

p {
    margin: 0;
}

.active svg {
    color: #fff;
}

.small {
    font-size: 14px;
}

.active {
    background-color: var(--blue);
    color: #fff;
    border-radius: 7px;
    width: 100%;
    display: inline-block;
}

.login-benefits {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 7px;
}

.brand-logo {
    width: 85px;
    padding: 10px;
}

img {
    width: 100%;
}

.login .card {
    background-color: #f0f0f0;
}

.icon-bg-one {
    background-color: #fff;
    padding: 10px;
    width: fit-content;
    border-radius: 7px;
}

.cursor-pointer {
    cursor: pointer;
}

.dropdown-menu[data-bs-popper] {
    top: 100%;
    left: auto;
    right: 0;
    margin-top: var(--bs-dropdown-spacer);
}

.quickAsk {
    margin-top: 7px;
    font-weight: 600;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 10px;
    width: 100%;
    min-height: calc(100vh - 59px);
}

.dashCard {
    height: 130px;
}

.dashCard .card-body {
    place-content: center;
}

.dashboard_overview {
    height: calc(100vh - 56px);
    overflow: auto;
}